<div class="grid">
  <div class="centered grid__col--8">
    <h2 class="headline-secondary">{{model.name}}</h2>
  </div>
</div>

<div class="grid">
  <div class="centered grid__col--8">
    <ul>
      <li><a href="{{model.url}}" target="_blank">{{model.url}}</a></li>
      <li><a href="{{model.shortUrl}}" target="_blank">{{model.shortUrl}}</a></li>
    </ul>
  </div>
</div>

<h4 class="grid">Headers</h4>

<div class="grid">
  <div class="centered grid__col--8">
    <ul>
    {{#each model.headers as |header|}}
      <li>{{header.content}}</li>
    {{/each}}
    </ul>
  </div>
</div>

<h4 class="grid">Path of introduction</h4>

<div class="grid">
  <div class="centered grid__col--8">
    <form class="form">
      <label class="form__label--hidden" for="topic">Topic:</label>
      {{input class="form__input" type="text" id="topic" placeholder="Topic" value=newName}}

      <button class="btn--default">Find path</button>
    </form>
  </div>
</div>

<h4 class="grid">Add connection</h4>

<div class="grid">
  <div class="centered grid__col--8">
    <form class="form">
      {{#power-select
        search=(action "userQueryChanged")
        selected=selected
        options=options
        placeholder="Select name"
        onchange=(action (mut selected))
        as |user|
        }}
        {{user.name}}
      {{/power-select}}

      <button class="btn--default" {{action "addConnection" on="click"}} disabled={{isDisabled}}>Add to connections</button>
    </form>
  </div>
</div>

<h4 class="grid">Connections</h4>

<div class="grid">
  <div class="centered grid__col--8">
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Website</th>
          <th scope="col">Connections</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.friends as |friend|}}
          <tr>
            <td scope="row">{{#link-to 'user' friend.id}}{{friend.name}}{{/link-to}}</td>
            <td>
              <a href="{{friend.shortUrl}}" target="_blank">
                {{friend.shortUrl}}
              </a>
            </td>
            <td>{{friend.friends.length}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
